body,
.portfolio-header,
.welcome,
.social-media-links,
.intro-wrapper,
.greeting-intro,
.about-header,
.works-card, {
  display: flex;
}

body {
  background-color: #fff;
  flex-direction: column;
  text-align: center;
  font-family: 'Inter', Verdana, sans-serif;
  font-style: normal;
}

.intro-wrapper {
  background: url("../../assets/img/header-bg.png") 0 0 no-repeat;
  background-size: 100%;
  text-align: center;
  flex-direction: column;
}

body > * {
  flex: 1 1 auto;
}

ul {
  list-style: none;
}

.portfolio-header {
  justify-content: space-between;
  align-items: center;
  flex-basis: 10vh;
}

.portfolio-header a {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-decoration: none;
}

.portfolio-header a:hover {
  color: #1ea566;
}

.welcome {
  padding: 1em 0;
  flex-direction: column;
}

.home-headings {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro {
  color: #1ea566;
}

.greeting-intro {
  flex-direction: column;
  margin: 2em 0 0.5em;
}

.banner-message {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  margin: 0 1em 1px 1em;
}

.social-media-links {
  justify-content: center;
}

.social-media-links li {
  flex-basis: 11%;
}

.social {
  width: 15px;
}

.recent-works-title {
  background: url("../../assets/img/Indicator.png") 0 0 no-repeat;
  background-position: bottom center;
}

.scroll-down {
  background-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  margin: 3em 0 0;
}

.disabled-button:hover {
  background-color: #1e488f;
}

.works-wrapper {
  display: grid;
  grid-template-rows: 474px 474px 474px 474px 474px 474px;
  gap: 2em;
  margin: 3em 0 1em 0;
}

.works-card {
  background-size: 100%;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 8px;
  border: 1px solid #d0d9d7;
}

.project1 {
  background: url("../../assets/img/1.png") 0 0 no-repeat;
}

.project2 {
  background: url("../../assets/img/2.png") 0 0 no-repeat;
}

.project3 {
  background: url("../../assets/img/3.png") 0 0 no-repeat;
}

.project4 {
  background: url("../../assets/img/4.png") 0 0 no-repeat;
}

.project5 {
  background: url("../../assets/img/5.png") 0 0 no-repeat;
}

.project6 {
  background: url("../../assets/img/6.png") 0 0 no-repeat;
}

.skill-wrap {
  padding: 0;
  width: 100%;
  display: block;
}

.works-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  margin: 0;
}

.work-skill {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
}

.works-card-inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px 0;
  width: 100%;
  align-items: center;
}

.home-btn {
  border-radius: 4px;
  width: 40%;
  background: #36b37f;
  height: 48px;
  color: #fff;
  border: 0;
  margin: 1em 0;
}

.home-btn:hover {
  background: #1e488f;
  color: #fff;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.about-header {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../assets/img/about-me-1.png") 0 100% no-repeat, url("../../assets/img/Mask-Group.png") 100% 0 no-repeat;
}

.about-cards {
  width: 90%;
  border: 1px solid #d0d9d7;
  border-radius: 8px;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.about-card-item {
  font-weight: 600;
  letter-spacing: 0.03em;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  margin: 0.3em;
}

.about-card-list {
  width: 100%;
  justify-content: center;
}

.about-card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin: 0.3em;
}
